/* general style starts here */

p {
    font-family: mr-eaves-modern, sans-serif;
    font-style: normal;
    font-weight: 100;
}

h1 {
    font-family: mr-eaves-modern, sans-serif;
    font-style: normal;
    font-weight: 100;
}

h2 {
    font-family: mr-eaves-modern, sans-serif;
    font-style: normal;
    font-weight: 100;
}

a {
    font-family: mr-eaves-modern, sans-serif;
    font-style: normal;
    font-weight: 100;
}

h2 {
    padding-top: 20px;
}

body {
    padding: 0 100px 0 100px;
}

#home {
    background: url(../images/CYX_BG.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.welcome {
    font-weight: 400;
    color: #5CCBEE;
}


/* navbar style starts here */

ul {
    list-style-type: none;
}

.navbar .navbar-nav li a {
    color: #5CCBEE !important;
}

.navbar-brand img {
    width: 50%;
    float: left;
}

.navbar {
    margin-bottom: 60px;
}

.navbar-collapse .navbar-default {
    color: #5CCBEE;
}


/* contact page style starts here */

.col-md {
    padding: 0px 70px 50px 70px;
}


/* social media style starts here */

.fa {
    padding: 13px;
    margin-right: 8px;
    font-size: 24px;
    width: 54px;
    text-align: center;
    text-decoration: none;
    border-radius: 60%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: #5CCBEE;
}

.fa-instagram {
    color: #5CCBEE;
}

.fa-linkedin {
    color: #5CCBEE;
}


/* project page styling starts here */

.project-img {
    max-width: 50%;
    max-height: 27%;
}

.row h2 {
    font-weight: bold;
    color: #5CCBEE;
}


/* about me page styling starts here */

.row img {
    border-radius: 12%;
    margin-bottom: 30px;
    width: 360px;
    height: 360px;
}

@media (max-width: 767px) {
    .row img {
        width: 300px;
        height: 300px;
    }
}

.profile-header {
    display: block;
    text-align: center;
    margin-bottom: 100px;
    font-weight: bold;
    color: #5CCBEE;
}

.section-header {
    color: #5CCBEE;
}